﻿* {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

body {
	background: #F6F6F6 url(../images/img01.jpg) repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	color: #6B6B6B;
}

select
{
	font-family:Tahoma;
}

.errorBig
{
	font-family:Tahoma;
	font-size:12px;
	text-align:right;
	direction:rtl;
	color:Red;
}

.error
{
	font-family:Tahoma;
	font-size:10px;
	text-align:right;
	direction:rtl;
	color:Red;
}

form {
}

input, textarea {
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: 12px Tahoma;
	color: #6B6B6B;
}

.englishInput
{
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: 12px Tahoma;
	color: #6B6B6B;
	direction:ltr;
	text-align:left;
}

h1, h2, h3, h4 {
	margin: 0;
}

h2, h3, h4 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #F2F2F2;
	font-weight: normal;
	color: #37404C;
}

.noUnderline
{
	border-bottom:0px;
	text-align:right;
	direction:rtl;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
	text-align: justify;
}

ul, ol {
	margin-left: 3em;
}

dl.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

dl.list1 dt {
	float: left;
	width: 70px;
}

dl.list1 dd {
	margin-bottom: 10px;
}

dl.list1 a {
	color: #666666;
}

ul.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

ul.list2 li {
	float: left;
	margin: 0 18px 18px 0;
}

ul.list2 li.nopad {
	margin-right: 0;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #FF5A00;
	text-decoration:none;
}


a:hover {
	text-decoration:underline;
} 


a img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}

/* Wrapper */

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: url(../images/img02.jpg) repeat-y;
}

#wrapper2 {
	background: url(../images/img10.jpg) no-repeat left bottom;
}

/* Header */

#header {
	height: 140px;
	background: #087FE7 url(../images/img03.jpg) no-repeat;
}

/* Logo */

#logo {
	float: left;
}

#logo h1 
{
	font-family:Tahoma;
	margin: 0;
	padding: 90px 0 0 78px;
	text-transform: lowercase;
	letter-spacing: 0px;
	font-size: 40px;
	color: #FFFFFF;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 112px 68px 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	font-family:Tahoma;
	font-size:8px;
}

#menu a {
	padding-left: 40px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	background: url(../images/img04.jpg) no-repeat;
}

/* Content */

#content {
	float: left;
	width: 555px;
	padding: 0 0 0 76px;
}

.post {
	padding-top: 50px;
}

.post .title
 {
 	font-family:Tahoma;
 	text-align:right;
 	direction:rtl;
	text-decoration: none;
	color: #37404C;
}

.post .entry 
{
	font-family:Tahoma;
	font-size:12px;
	direction:rtl;
	text-align:right;
}

.post .meta {
	height: 16px;
	margin: 0;
	padding: 10px;
	background: url(../images/img07.jpg) repeat-x left bottom;
	line-height: normal;
}

.post .meta .posted {
	display: block;
	float: left;
}

.post .meta .permalink {
	display: block;
	float: right;
	padding-left: 17px;
	background: url(../images/img09.gif) no-repeat left center;
}

.post .meta .comments {
	display: block;
	float: right;
	padding: 0 30px 0 19px;
	background: url(../images/img08.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 186px;
	padding: 67px 76px 0 0;
}

#sidebar .sideBox
{
	font-family:Tahoma;
	font-size:12px;
	text-align:right;
	direction:rtl;
}


#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h3
{
	font-family:Tahoma;
	font-size:12px;
	text-align:right;
}

/* Search */

#search 
{
	direction:rtl;
	text-align:right;
}

#search br {
	display: none;
}

.GreenButton 
{
	padding: 1px 5px;
	border-top: 1px solid #BAD300;
	border-left: 1px solid #A9C817;
	border-right: 1px solid #7DAB00;
	border-bottom: 1px solid #578900;
	background: #6E9D00 url(../images/img18.gif) repeat-x;
	font-size: 11px;
	font-family:Tahoma;
	font-weight: bold;
	color: #FFFFFF;
	}

#search #searchBox {
	width: 120px;
	padding: 2px 5px;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	color: #6B6B6B;
	direction:rtl;
	text-align:right;
}

#search h3
{
	font-family:Tahoma;
	font-size:12px;
	text-align:right;
}

#search #options
{
	font-family:Tahoma;
	font-size:12px;
	text-align:right;
	direction:rtl;
}

/* Widebar */

#widebar {
	margin: 0 50px;
	padding: 25px 28px 0 28px;
	background: #F2F2F2 url(../images/img11.gif) repeat-x;
}

#widebar #colA {
	float: left;
	width: 260px;
}

#widebar #colB {
	float: left;
	width: 260px;
	padding-left: 45px;
}

#widebar #colC {
	float: left;
	width: 186px;
	padding-left: 45px;
}

/* Footer */

#footer {
	height: 108px;
	background: url(../images/img05.jpg) no-repeat;
}

#footer p {
	margin: 0;
	padding-top: 45px;
	text-align: center;
	color: #8E8E8E;
}

#footer a {
	color: #666666;
}

/* MemberPage */

.memberTable
{
    width:100%;
    margin-bottom:5px;
    text-align:center;
}

.memberTable td
{
	padding:20px;
}

.memberTable td a
{
	text-decoration:none;
}

.BannedUser
{
	text-decoration:line-through;
	color:Gray;
}

.Administrator
{
	font-weight:bold;
	color:Green;
}

/* Sharing Page */

.Posts tr
{
	background-color:Azure;
	padding-bottom:30px;
}

.panel_Bottom_Padding
{
	padding-bottom:30px;
	direction:rtl;
}


/* Table Result */
.TableResult 
{
    width:100%;
    margin-bottom:5px;
    text-align:center;
}

.headerRow
{
	background-color:#507CD1;
	color:White;
	padding:15px;
}

.oddRow
{
	background-color:#EFF3FB;
}

.evenRow
{
	background-color:White;
}