﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Header.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="UI.Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">
    <div id="page">
			<div id="content">
				<div class="post">
					<h2 class="title"></h2>
					<div class="entry">
					</div>
				</div>
			</div>
</asp:Content>
