﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Header.Master" AutoEventWireup="true" CodeBehind="Schools.aspx.cs" Inherits="UI.Schools" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">
<div id="page">
			<div id="content">
				<div class="post">
					<h3 class="title" runat="server" id="pagetitle">لیست مدارس</h3>
					    
					<div class="entry">
					
					<asp:Label ID="labelError" CssClass="errorBig" Text="" runat="server" />
					    
					<asp:Table ID="tableCity" CellPadding="15" CellSpacing="15" Width="100%" runat="server">
					    
					</asp:Table>   
					
					</div>
					
				</div>
			</div>
</asp:Content>
